body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/****************************************HOME*******************************************************************/
img.profPicHome {
  height: 250px;
  width: 285px;
  align-self: stretch;
}

.profPicRow {
  border: 1px black solid;
}

.mainMap {
  border: 1px black solid;
}

#homeMap {
  height: 250px;
  /*width: 400px;*/
  padding: 10px;
  align-content: center;
}




