/*************************************Fonts********************************/
@font-face {
    font-family: gothamReg;
    src: url(./actioPublic/GothLight.otf);
}




body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width:100%;
  background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 43%, #066dab 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 43%,#066dab 100%);
  background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 43%,#066dab 100%);
  background-repeat: round;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}

#root > div {
  height: 100%;

}
/****************************************Landing********************************/
fieldset {
  padding: 0!important;
}
.landing_main {
  height:100vh;
  width:100%;
  background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 43%, #066dab 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 43%,#066dab 100%);
  background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 43%,#066dab 100%);

}

.logoBox {
  margin-top: 10.0em;
  margin-bottom: -2.0em;
}

.nav_bar_collapsed {
  display: none;
}

.main_title {
  font-family: 'Medula One', cursive;
  font-size: 10.0rem;
  text-align: center;
  color: white;
  letter-spacing: 2.0rem;
}

.landing_btn{
  background-color: rgba(255, 255, 255, 0.2);
  font-family: gothamReg;
  border-color: white;
  text-align: center;
  font-size: 16px;
  width: 7.0em;
}

.landing_btn:hover{
  background-color: rgba(255, 255, 255, 0.0);
  font-family: gothamReg;
  border-color: #066dab;
  text-align: center;
  font-size: 16px;
  width: 7.0em;
  color: #066dab;
}

.marketing_sec{
  font-family: gothamReg;
  margin-top: 300px;
  height: 40vh;
  color: #764ba2;
  background-color: rgba(255, 255, 255, 1);
}
/****************************************SignIn********************************/
.authBox {
  margin-left: 5.0em;
}

.marketing_sec_sign_in{
  font-family: gothamReg;
  margin-top: 93px;
  height: 40vh;
  color: #764ba2;
  background-color: rgba(255, 255, 255, 1);
}
.auth_label{
  text-align: center;
  color:white;
  font-family: gothamReg;
  width: 100%;
  display: block;
  margin: auto;
}

.auth_btn{
  margin-top: 2.5em;
  background-color: rgba(255, 255, 255, 0.0);
  font-family: gothamReg;
  border-color: #066dab;
  text-align: center;
  font-size: 16px;
  width: 7.0em;
  color: #066dab;
}
.auth_btn:hover {
  background-color: #066dab;
  border-color: white;
  color: #8abbd7;
}


/***************************************************FORMS**********************************************************/


select.form-control.actSelect {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #8abbd7;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
  font-family: gothamReg;
}

select.form-control.actSelect:focus {
  background-color: transparent;
  border: none;
  /*border-top: none;
  border-left: none;
  border-right: none;*/
  /*border-bottom-color: #8abbd7;
  border-bottom-style: ridge;
  border-bottom-width: 2px;*/
  font-family: gothamReg;
}

select.form-control.actSelect::-webkit-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}

select.form-control.actSelect:-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

select.form-control.actSelect::-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

select.form-control.actSelect:-ms-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}

textarea.form-control.actArea {
  background-color: transparent;
  border: none;
  /*border-top: none;
  border-left: none;
  border-right: none;*/
  /*border-bottom-color: #8abbd7;
  border-bottom-style: ridge;
  border-bottom-width: 2px;*/
  font-family: gothamReg;
}

textarea.form-control.actArea:focus {
  background-color: transparent;
  border: none;
  /*border-top: none;
  border-left: none;
  border-right: none;*/
  /*border-bottom-color: #8abbd7;
  border-bottom-style: ridge;
  border-bottom-width: 2px;*/
  font-family: gothamReg;
}

textarea.form-control.actArea::-webkit-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}

textarea.form-control.actArea:-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

textarea.form-control.actArea:-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

textarea.form-control.actArea:-ms-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}





input.form-control.actField {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #8abbd7;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
  font-family: gothamReg;
}

input.form-control.actField:focus {
  background-color: transparent;
  color: #066dab;
  box-shadow: none;
  font-family: gothamReg;
}

input.form-control.actField::-webkit-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}

input.form-control.actField:-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

input.form-control.actField::-moz-placeholder {
color: white !important;
font-family: gothamReg !important;
}

input.form-control.actField:-ms-input-placeholder {
color: white !important;
font-family: gothamReg !important;
}
/****************************************HOME*******************************************************************/
img.profPicHome {
  height: 250px;
  width: 285px;
  align-self: stretch;
}

.profPicRow {
  border: 1px black solid;
}

.mainMap {
  border: 1px black solid;
}

#homeMap {
  height: 250px;
  /*width: 400px;*/
  padding: 10px;
  align-content: center;
}

#codeMap {
  height: 250px;
  padding: 10px;
  align-content: center;
}

.homeBody{
  position: relative;
  z-index: 999;
}

.custom-modal{
  width: 70%;
}
.in{
  min-height: 228px !important;
  border-top: 0px;
}

.collapsing{
  border-top: 0px;
}
.body {
  font-family: gothamReg;
  padding-top: 65px;
  height:100%;
  width:100%;
  background: -moz-radial-gradient(center, ellipse cover, #c5deea 0%, #8abbd7 43%, #066dab 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #c5deea 0%,#8abbd7 43%,#066dab 100%);
  background: radial-gradient(ellipse at center, #c5deea 0%,#8abbd7 43%,#066dab 100%);
  background-repeat: round; }

/*************************************************NAV*********************************************************/
.nav {
  z-index: 1000 !important;
}

.navLogo {
  font-family: 'Medula One', cursive;
  color: white!important;
  font-size: 5.0em;
}

.main_nav {
  background: rgba(0, 0, 0, 0.3);
  border: none !important;
}

/***********************************************NEWEVENT****************************************************/

.newBtn{
  background-color: rgba(255, 255, 255, 0.0);
  font-family: gothamReg;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  width: 9.0em;

}

.newBtn:hover{
  background-color: #8abbd7;
  font-family: gothamReg;
  border-color: #066dab;
  text-align: center;
  font-size: 16px;
  width: 9.0em;
  color: black;
}

.newEventForm {
  font-family: gothamReg;
}



/*************************************************HOME********************************************************/
.allEventPic{

  height: 251px;
  border-radius: 0.75rem;



}

.filterRow {
  align-items: center;
  justify-content: center;
  font-family: gothamReg;
}

/*************************************************EventCard*********************************************************/

.eventCardImg {
  height: 75px;
  width: 75px;
  margin-left: 2.0em;
  margin-top: 1.0em;
  margin-right: 2.0em;
}

.eventCardContainer {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  border-radius: 0.2em;
}

.allEventDesc {
  margin-top: 4.0em;


}

.allEventDetails {
  margin-top: 4.0em;


}

.eventBtn{
  background-color: rgba(255, 255, 255, 0.0);
  font-family: gothamReg;
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
  width: 7.0em;
}

.eventBtn:hover{
  background-color: #8abbd7;
  font-family: gothamReg;
  border-color: #066dab;
  text-align: center;
  font-size: 16px;
  width: 7.0em;
  color: black;
}

.btnRow {
 margin: 0 1.0em;
}

.allEventTitle {
 margin-top: 2.0em;
}

.myEventImg {
  width: 280px;
  height: 171px;

 }
/*************************************************BUTTON*********************************************************/

.btnMain {
    -moz-box-shadow: 0px 2px 0px 1px #222629;
    -webkit-box-shadow: 0px 2px 0px 1px #222629;
    box-shadow: 0px 0px 1px 1px #222629;
    background-color: rgba(255, 255, 255, .0);
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid #ccc2a6;
    display: inline-block;
    cursor: pointer;
    color: #ccc2a6;
    font-family: 'Comfortaa';
    font-size: 16px;
    font-weight: 300;
    padding: 5px 8px;
    text-decoration: none;
}
.navbar-nav{
  height: 55px;
}

.navbar-nav > li > a{
  height: 55px;
  padding: 0;
}
.navbar-nav > li > a:hover{
  height: 55px;
  background-color: rgba(255, 255, 255, 0.5)!important;
}
.btnMain_nav {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  height: 100%;
  width: 100%;
  color:white;
  font-family: gothamReg;
}
.btnMain_nav:hover {
    text-decoration: none;
    color:white;
}

.btnMain_nav:active {
    position: relative;
    top: 1px;
    text-decoration: none;
}





/*************************************************CARD***************************************************/
.card.actCard {
  border-radius: 1.0rem;
  font-family: gothamReg;
  font-size: 16px;
  z-index: 5;
  background-color:rgba(0, 0, 0, 0.3);
  color: white;
}


.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);

}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
  background-color: transparent;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
  background-color: transparent;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
  background-color: transparent;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
  background-color: transparent;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
  background-color: transparent;
}

.card-outline-primary {
  background-color: transparent;
  border-color: #0275d8;
}

.card-outline-secondary {
  background-color: transparent;
  border-color: #ccc;
}

.card-outline-info {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-outline-success {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-outline-warning {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-outline-danger {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}


/*************************Modal Styling ****************************************/
.actModal {
  font-family: gothamReg;
}


/*.event_col {
  margin: 10px;
  padding: 10px;
  background-color: #eaeaea;
}*/
.modal_cover{
  align-content: center;
  width: 100%;
  height: 300px;
}

.cover_container{
  position: relative;
  width: 100%;
  height: 100%;
}

.cover_transparency{
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;

}

.modal-header {
  padding: 0;
}

.modal_cover_img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 25%;
  z-index: 0;
}

.event_title{
  position: absolute;
  top: 15.0em;
  padding-bottom: 0px;
  padding-left: 20px;
  color : white;
  z-index: 15;
  font-family: gothamReg;

}

.event_title h3{
  font-size: 35px;
  display: inline;
}

.modal_nav_container{
  margin-left: 20px;
}
.modal_nav_list{
  display: block;
  overflow: hidden;
  padding-left: 20px;
  padding:0;
  list-style-type: none;
  margin-bottom: 0;
}

.modal_nav_list li {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #d8d8d8;
}

.modal_nav_list li:hover{
  background-color: #d8d8d8;
}

.modal-body{
  margin: 0 !important;
  padding: 0 !important;
}

.map-container {
  margin-top: 20px;
  margin-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
}


.owner_info img{

  height: 5.0em;
  width: 5.0em;
}

.event_desc strong{
  margin-left: 10px;
}

.event_desc h4{
  font-size: 24px;
}
.event_desc h5{
  font-size: 18px;
  margin-left: 10px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .custom-modal{
      width: 100%;
      height: 100%;
      margin:0;
    }
    .modal-header{
      height: auto;
      font-size:8px;
    }


}
